
h1 {
  color: blue;
  background-color: lightblue;
  text-align: center;
  font-size: 24pt;
}
.main {
  background-image: url("http://i63.tinypic.com/5ehog6.jpg");
  background-position: center center;
  background-size: cover;
  height: 100%;
  width: 100%;
}
h2 {
  font-size: 70px;
  font-family: 'helvetica', sans-serif;
  color: #FFF;
  font-weight: 400;
  line-height: 60px;
}
