
h1 {
      color: #FFF;
      text-align: center;
      font-size: 72pt;
      background-color: rgb(237, 205, 194);
      padding: 0px;
      margin: 0px;
      border: 2px solid gray;
    }
    body {
     margin-top: 0px;
     margin-bottom: 0px;
     margin-left: 4px;
     margin-right: 4px;
     padding: 0px;
    }
    .main {
      background-image: url("http://i64.tinypic.com/2quqcte.jpg");
      background-position: center;
      background-size: cover;
      height: 800px;
      width: 100%;
      padding: 0px;
      margin-top: 15px;
    }
    h2 {
      font-size: 70px;
      font-weight: 400;
      line-height: 60px;
      color: #FFF
    }
    .inner {
      font-family: helvetica, sans-serif;
      color: #FFF;
      border: 10%;
      text-align: center;
      padding: 10px;
    }
    h3 {
      font-size: 50px;
      color: rgb(237, 205, 194);
      text-align: center;
      vertical-align: center;
      padding: 0px;
    }
    .description {
      font-size: 40px;
      color: rgb(237, 205, 194);
      text-align: center;
      vertical-align: top;
    }
    .about {
      border: 2px solid gray;
      padding-top: 10px;
      vertical-align: center;
      margin-top: 10px;
    }
      
